.btn-paghero{
   position: fixed;
   float: left;
   left: 1rem;

}

#CardPeso  .card-text{
    font-size: 20px;
     text-align: center;
}

#CardPeso  .card-title{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

h1{
   margin-bottom: 20px;
   letter-spacing: 4px;
   text-align: center;
}

.card-img-top{
   background: rgba(28, 27, 27, 0.85);
   float: left;
   max-width: 100%;
   max-height: 400px;
   padding: 10px;

}

.strong {
   color: rgb(1, 124, 206);
   width: fit-content;

}

.link{
    color: rgb(1, 124, 206);
    width: fit-content;
    font-size: 25px;
    text-decoration: none;
}

.container{
   padding: 10px;
}

.btn-primary{
   margin-top: 10px;
  
}

.container{
    margin:  10px auto;
    width: fit-content;
   }

.card{

   color: white;
   background: rgba(0, 0, 0, 0.618);
   display: flex;
   float: left;
   margin: 0px auto;
   margin: 0px 3rem;

}

.herolist{
   min-width:  50%;
   max-width:  55%;
   margin: 0px auto; 
   margin-top: 10px;
}


.alert-danger{
   width: 175px;
   text-align: center;
   margin: 5px 2px;
         
}

.loggin{
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  font-size: 25px;
}

.nameUser{
   color: white;
   float: right;
   position: absolute;
   right: 6rem;   
   top: 15px;
   font-size: 20px;
   text-transform: uppercase;

}